.skeleton {
    background-image: linear-gradient( 90deg, rgb(216, 215, 215), rgb(253, 243, 243), #b6b6b6, #e4e4e4);
    background-size: 1000%;
    background-position: right;
    animation: sweep 5s ease-in-out infinite alternate;
    box-shadow: 0 0 6px 0 #a3a3a331;
}
@keyframes sweep {
    0% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

.wait-skeleton {
    visibility: hidden;
}