@font-face {
    font-family: bold;
    src: url(Font/plusjakartasans-bold.woff2);
}

@font-face {
    font-family: medium;
    src: url(Font/plusjakartasans-Medium.woff2);
}

@font-face {
    font-family: reg;
    src: url(Font/plusjakartasans-Regular.woff2);
}

* {
    font-family: reg;
}

.oleh-oleh {
    font-size: 18px;
    font-family: bold;
    margin-bottom: 0px;
    padding-top: 16px;
}

.title {
    font-size: 18px;
    letter-spacing: 1.4px;
    line-height: 23px;
}

.navbar-nav a {
    color: #333333 !important;
}

.navbar-nav a:hover {
    color: #DA4443 !important;
}

.navbar-nav ul a:hover {
    color: #ffffff !important;
    background-color: #DA4443 !important;
}

.navbar-nav ul a.link-active {
    color: #ffffff !important;
    background-color: #DA4443 !important;
}

.navbar-nav a.active {
    color: #DA4443 !important;
}

.navbar-nav img.icon.img-active {
    filter: invert(32%) sepia(90%) saturate(1096%) hue-rotate(330deg) brightness(92%) contrast(93%);
}

.navbar-nav .nav-link:hover {
    filter: invert(32%) sepia(90%) saturate(1096%) hue-rotate(330deg) brightness(92%) contrast(93%);
}

.produk-nama {
    font-size: 14px;
    font-family: bold;
    font-weight: 700;
    line-height: 20px;
}

.produk-nama-lainnya {
    font-size: 18px;
    font-family: 'reg';
    font-style: italic;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.1em;
    padding-top: 8px;
}

.produk-text {
    font-size: 14px;
}

.judul-merah {
    line-height: 30px;
    font-size: 24px;
    font-family: bold;
    color: #DA4443;
    letter-spacing: 0.1em;
}

.caption {
    margin-top: 36px;
}

.caption-footer {
    font-size: 12px;
    font-family: bold;
    padding: 10px;
    margin-bottom: -10px;
}

.my-page-link {
    padding: .25rem .5rem;
    text-decoration: None;
    color: #DA4443;
}

.my-page-active {
    color: black;
}

.my-button {
    width: fit-content;
    border-radius: 50px;
    background: #DA4443;
    padding: 4px 24px;
    text-decoration: none;
    color: white;
}

.my-button:hover {
    color: white;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1.5px solid #878787;
}

.separator:not(:empty)::before {
    margin-right: 18px;
}

.separator:not(:empty)::after {
    margin-left: 18px;
}

.box-produk-lainnya {
    padding-bottom: 50px;
}

.img-produk-lainnya {
    min-height: 240px;
    width: auto !important;
    margin: auto !important;
}

.produk-deskripsi {
    font-weight: normal;
    text-align: justify;
    font-size: 12px;
    line-height: 20px;
}

.img-produk-main {
    width: 100% !important;
    height: auto !important;
}

.img-produk-additional {
    width: 100% !important;
    height: auto !important;
}

.wa-button {
    width: fit-content;
    border-radius: 50px;
    background: #73C578;
    padding: 4px 16px;
    color: white;
    text-decoration: none;
}

.wa-button:hover {
    color: white;
}

.row-produk-detail {
    color: #747474;
}

.produk-detail-body {
    text-align: justify;
    font-size: 12px;
}

.produk-detail-body * {
    margin: 1px 0;
}

@media screen and (min-width: 768px) {
    .produk-deskripsi {
        min-height: 280px;
    }
}

.my-pt-120 {
    padding-top: 120px;
}

.my-pt-60 {
    padding-top: 60px;
}