#product-image.skeleton {
    width: 100%;
    height: 546px;
}

#product-title.skeleton {
    width: 100%;
    height: 30px;
}

#product-price.skeleton {
    width: 30%;
    height: 24px;
}

#product-description.skeleton {
    width: 100%;
    height: 280px;
}

#product-notes.skeleton {
    width: 100%;
    height: 100px;
}

#product-shipping-notes.skeleton {
    width: 100%;
    height: 100px;
}

#product-dimension.skeleton {
    width: 100%;
    height: 100px;
}

#product-dimension.skeleton {
    width: 100%;
    height: 100px;
}

#additional-images-row {
    min-height: 150px;
}

#additional-images-row.skeleton {
    width: 100%;
    height: 150px;
}

#recommendation-row {
    min-height: 300px;
}

#recommendation-row.skeleton {
    width: 100%;
    height: 300px;
}
